body {
    background-color: black;
    min-height: 100vh;
}

/* toolbar */
md-toolbar {
	 height: 64px !important;
}

.md-toolbar-tools {
    background-color: black;
}

/* main */
#main {
  /*height: calc(100vh - 64px - 64px);*/
  /* (windowsize - toolbar - footer) */
    height: calc(100vh - 64px - 8px); /* (windowsize - toolbar) */
    border: 4px solid black;
}

#editor {
    /*height: calc(100vh - 64px - 64px);*/
    /* (windowsize - toolbar - footer) */
    height: calc(100vh - 64px - 8px); /* (windowsize - toolbar) */
}

#clipboard {
    /*height: calc(100vh - 64px - 64px);*/
    /* (windowsize - toolbar - footer) */
    height: calc(100vh - 64px - 8px); /* (windowsize - toolbar) */
}


/* footer */
/*.footer{
  	height: 64px !important;
    position: fixed;
}*/
