<!DOCTYPE html>
<html lang="en-US" ng-app="rtool">
  <head>

    <title>research-tool</title> <!-- ng-bind="research-tool" -->
    <meta charset="utf-8" />

<!-- file:///C:/Users/Torben/Downloads/research-tool-master/client/index.html -->

    <!-- Libraries JavaScript -->
    <!-- <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="bower_components/angular/angular.js"></script> -->
    <!-- <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script> -->
    <!-- <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script> -->
    <!-- <script  type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script> -->
    <!-- <script  type="text/javascript" src="bower_components/file-saver/FileSaver.min.js"></script> -->
    <!-- <script  type="text/javascript" src="bower_components/jszip/dist/jszip.min.js"></script> -->

    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-aria.js"></script>
    <script type="text/javascript" src="lib/angular-material.js"></script>
    <script  type="text/javascript" src="lib/angular-animate.js"></script>
    <script  type="text/javascript" src="lib/FileSaver.min.js"></script>
    <script  type="text/javascript" src="lib/jszip.min.js"></script>
    <!-- Libraries CSS -->
    <link rel="stylesheet" type="text/css" href="css/rtool.css">
    <link rel="stylesheet" href="lib/angular-material.css">
    <link href="lib/angular-material-icons.css" rel="stylesheet">

    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- config file -->
    <script src="app/config/config.js"></script>
    <!-- controller.js -->
    <script src="app/editor.controller.js"></script>

  </head>
  <body ng-controller="EditorController">
    <!-- header -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- <md-button ng-click="selectSize('small')">small</md-button>
        <md-button ng-click="selectSize('normal')">normal</md-button>
        <md-button ng-click="selectSize('large')">large</md-button>
        <md-button ng-click="selectSize('huge')">huge</md-button> -->
        <md-button ng-click="clear()">clear</md-button>
<!--        <md-button ng-click="download01(canvasDraw)">download view</md-button>-->
        <md-button ng-click="download02(canvasDraw)">download view</md-button>
        <span flex></span>
        <!--The middle-->
        <md-menu>
          <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
            <md-icon> settings </md-icon>
          </md-button>
          <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
            <md-menu-item ng-repeat="item in ['2step', '5step']">
              <md-button ng-click="setUncertaintyStep(item)">
                {{item}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <div ng-if="uncertaintyStep == '2step'">
          <md-button ng-click="selectColor('black')">certain</md-button>
          <md-button ng-click="selectColor('red')">uncertain</md-button>
        </div>
        <div ng-if="uncertaintyStep == '5step'">
          <md-button ng-click="selectColor('black')">100%</md-button>
          <md-button ng-click="selectColor('75')">75%</md-button>
          <md-button ng-click="selectColor('50')">50%</md-button>
          <md-button ng-click="selectColor('25')">25%</md-button>
          <md-button ng-click="selectColor('red')">0%</md-button>
        </div>
        <span flex></span>
        <!--The right side-->
        <md-button ng-click="selectColor('white')">erase</md-button>
      </div>
    </md-toolbar>
    <!-- End header -->

    <div id="main">

      <!-- <div layout="row">
        <div class="col" id="moves"></div>
        <div class="col" id="movesData"></div>
      </div> -->

      <!-- editor -->
      <div id="editor" class="main">
          <div id="canvasDivDraw" onkeydown="keypressFunction(event)"></div>
      </div>

      <!-- clipboard -->
      <div id="clipboard" class="main" style="display: none;">
          <div id="canvasDivImage"></div>
      </div>

      <!-- <img src="" id="mirror" class="canvas__mirror" /> -->

    </div>

    <!-- footer -->
    <!-- <md-toolbar class="footer">
        <div class="md-toolbar-tools white-font">
          <md-button ng-click="clear()">clear</md-button>
          <md-button ng-click="downloadDiv(canvasDraw)">download view</md-button>
          <a id="downloadButton" style="display: none;"></a>
          <md-button ng-click="copyToBottomDiv()">copy to clipboard</md-button>
          <span flex></span>
          <md-button ng-click="downloadDiv(canvasImage)">download clipboard</md-button>
          <md-button ng-click="copyToTopDiv()">copy clipboard to view</md-button>
        </div>
    </md-toolbar> -->

  </body>
</html>
